@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCounterClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.rotate-clockwise {
    animation: rotateClockwise linear infinite;
}

.rotate-counterclockwise {
    animation: rotateCounterClockwise linear infinite;
}

.orbit-ring {
    border: 2px dashed #d1d5db;
    border-radius: 50%;
    position: absolute;
}

.planet-container {
    transform: rotate(0deg);
}